<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CsvHelper" version="2.16.3.0" targetFramework="net461" />
  <package id="DotNetZip" version="1.10.1" targetFramework="net461" />
  <package id="Emailage.NET.4.5.1.Wrapper" version="1.2.3" targetFramework="net461" />
  <package id="EPPlus" version="4.1.0" targetFramework="net461" />
  <package id="EPPlus.Extensions" version="2.0.0.0" targetFramework="net461" />
  <package id="ExceptionReporter" version="2.2.1" targetFramework="net461" />
  <package id="GemBox.Spreadsheet" version="41.3.30.1106" targetFramework="net461" />
  <package id="Microsoft.Office.DocumentManagement14.0.0.0" version="14.0.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="NPOI" version="2.3.0" targetFramework="net461" />
  <package id="Office" version="12.0.0" targetFramework="net461" />
  <package id="Pvc.Core" version="0.0.2.0" targetFramework="net461" />
  <package id="Pvc.Gzip" version="0.0.1.0" targetFramework="net461" />
  <package id="RimDev.Filter" version="0.12.0" targetFramework="net461" />
  <package id="SafeConvert" version="1.0.0" targetFramework="net461" />
  <package id="SafeConvertExtensions" version="1.0.4" targetFramework="net461" />
  <package id="SharpZipLib" version="0.86.0" targetFramework="net461" />
  <package id="Simple-MAPI.NET" version="1.0.1" targetFramework="net461" />
  <package id="Spire.XLS" version="7.12.76" targetFramework="net461" />
  <package id="System.IO.Compression.ZipFile" version="4.3.0" targetFramework="net461" />
  <package id="System.IO.FileSystem.Primitives" version="4.3.0" targetFramework="net461" />
</packages>